
<nav class="navbar">
    <a href="#" class="logo">Logo</a>
    <div class="navlist">
        <a href="/">Home</a>
        <a href="/about">News</a>
        <a href="#services">Services</a>
        <a href="#contact">Contact</a>
    </div>
    <a href="/admin" class="endlogo">Admin</a>
</nav>