
<nav class="navbar">
    <a href="#" class="logo">Logo</a>
    <div class="navlist">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#contact">Contact</a>
    </div>
    <a href="#end" class="endlogo">Admin</a>
</nav>