<div class="formContainer">

    <form action="/postBlog" method="POST">
        <label for="userName">UserName</label>
        <input type="text" name="username" id="username" >
        <label for="Password">Password</label>
        <input type="text" name="password" id="password">

        <label for="Password">ReEnter Password</label>
        <input type="text" name="password" id="password">
        <button class="btnBlack">Login</button>
    </form>
    
</div>
